html, body{
    height: 100%;
}
h2.page_heading {
    text-align: center!important;
}

hr.page_title {
    width: 60%;
    border-top: 1px solid #242d64;
    border-width: thin;
}

hr.treatment_heading{
    border-top: 1px solid #242d64;
    border-width: thin;
}

hr.appointment_heading{
    border-top: 1px solid #242d64;
    border-width: thin;
    width: 155%;
    margin-left: -250px;
    margin-top: 5px;

}

hr.contact_heading{
    border-top: 1px solid #242d64;
    border-width: thin;
    margin-top: 5px;
    margin-left: -5px;
    width: 90%;
}

/*about page css*/

.about_content{
    color: #fff;
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 35px;
}

.about_background{
    background: rgba(255,255,255,0.8);
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
    }

.about_text{
    color: #242d64;
    font-family: 'Caudex';
    font-size: 1.2em;
}

#karina_image{
    padding-top: 200px;
}

/*appoinment form page css*/

.appointment > form{
    margin-left: 50%;
}

.appointment_content{
    color: #fff;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.appointment_background{
    background: rgba(255,255,255,0.9);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 80px;
    padding: 30px;
    
}

.appointment_form_heading{
    margin-left: -250px;
}

.appointment_text{
    color: #242d64;
    font-family: 'Caudex';
    font-size: 1.2em;

}

.form_submit.btn-default{
    background-color: #fff !important;
    background-image: none;
    color: #242d64;
    border-color: #242d64;
    padding: 6px 50px 6px 50px;
    float: right;
}


/*default template background image */

.background_image{
    position: fixed;
    top: 183px;
    height: 100%;
    width: 100%;
    background-image: url('../images/beauty_bubble_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -99;
    overflow: auto;
    padding-bottom: 150px;

}

/*call to action for front-end pages*/

.call_to_action_background{
    height: 25%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.call_to_action_buttons {
    position:absolute;
    margin-top: -35px;
}

.call_to_action_line{
    background-color: #fff;
    height: 10px;
}

.call_to_action_wrap {
    background-color: #c3d6ee;
    height: 90px;
}

/*Contact details/form on contact page*/
.contact_page a:link {
    color: #242d64!important;
    text-decoration: none!important; 
}

.contact_page a:visited {
    color: #242d64;
    text-decoration: none; 
}

.contact_page a:hover{
    color: #fff!important;
    text-decoration: none!important; 
}

.contact > form{
    margin-left: 50%;
}

.contact_us_form{
    margin-top: 50px;
}

.contact_details{
    margin-left: 23%;
}

.contact_content{
    color: #fff;
    font-size: 1em;
    margin-top: 30px;

}

.contact_background{
    background: rgba(255,255,255,0.9);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 80px;
    padding: 30px;
}

.contact_text{
    color: #242d64;
    font-family: 'Caudex';
    font-size: 1.2em;

}

/*Contact details on default layout*/

.contact_info a:link{
    color: #fff;
    text-decoration: none; 
}

.contact_info a{
    color: #fff!important;
    text-decoration: none; 
}

.contact_info a:hover{
    color: #c3d6ee;
    text-decoration: none; 
}

.contact_info_wrapper{
    position: absolute;
    right: 0px;
    text-align: right;
    font-size: 1.5em;
    padding: 20px 20px 0px 0px;
    height: 110px;
}

.contact_info_wrapper a{
    margin: 0px;
    text-decoration: none;
    color: #fff!important;
}

.contact_info_wrapper a:hover{
    color: #c3d6ee;
}

.google_map_wrapper{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.container{
    padding-bottom: 100px;
}

/*dashboard simple template css*/
.dash_appointment_cell{
    margin: 5px;
    border: 1px solid black;
    width: 100%;
    min-height: 300px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.075);
    background-color: #fff;
}

.dash_dropdown_btn.btn{
  display: inline-block;
  margin-bottom: 0;
  margin-right: 70%;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 4px;
/*  -webkit-user-select: none;*/
}

.dash_dropdown_btn.img-circle {
  border-radius: 50% !important;
  border: 2px solid #dfe0e4;
}

.dash_nav.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #242d64;
    
}

.dash_nav_wrapper{
    background-color: #c3d6ee;
    padding: 100px 10px 100px 10px;
    margin-left: 300px;
    
}

.dash_background{
    z-index: -99;
    top: 183px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto;
    padding-bottom: 150px;
    font-family: 'Caudex';
}

.dash_wrapper{
    margin-top: 300px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.075);
    background-color: #fff;
    
}

/*dashboard home page ($output)*/
.dashbd_home_content{
    color: #242d64;
    text-shadow: 0 1px 0 #fff;
    font-size: 2.3em;
    
}

.dashbd_wrap{
    position: relative;
    min-height: 100%;
    background-color: #fff;
    
}

.dashbd_home_text{
   font-family: 'Caudex';
   text-align: center;

}



/*footer css*/
.copyright_info{
    margin-top: 80px;
    float: right;
}

.footer{
    background-color: #c3d6ee;
    color: #242d64;
    font-family: 'Caudex';

}

/*main home page /default controller*/


.home_content{
    color: #fff;
    font-size: 2.3em;
    margin-top: 10%;
    margin-bottom: 5%;

}

.home_background{
    background: rgba(255,255,255,0.2);
    margin-top: 18%;

}

.home_welcome_text{
    padding: 80px;
    font-family: 'Caudex';
    text-align: center;

}

/*Nav bar*/

nav navbar-nav navbar-right{
    position: absolute;
    right: 10px;

}

.navbar .nav .active > a, .navbar .nav .active > a:hover{
    background-color: #ffffff;
    color:#242d64;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 100%;

}

.navbar .nav >li > a {
    color: #ffffff;
    margin-top: 145px;
    margin-left:10px;
    margin-right:0px;
    padding: 9px 10px 9px 10px;
    font-family: 'Milonga';
    font-size: 1.2em;
}

.nav>li>a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0);
    color: #c3d6ee;
}

.navbar-brand{
    height: auto;
    padding: 0px;
} 

.navbar-toggle .icon-bar {
    background-color:  #fff!important;
}


.navbar .container-fluid{
    background-color: #242d64;
    background-image: none;
    width: 100%;
    margin-left: 0px;
    margin-right:0px;

}

.logo{
    margin-left: 150px;
    max-width: 450px;
    width: 100%;
}

/*treatments page*/

.call_to_action_treatments{
    height: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.nail_treament_para{
    font-size: 15px;

}

.treatments_content{
    color: #fff;
    font-size: 1.3em;
    margin-top: 30px;

}

.treatments_background{
    background: rgba(255,255,255,0.8);
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:  85px;
}
    

.treatments_text{
    color: #242d64;
    font-family: 'Caudex';
    font-size: 1.2em;
}

.treatment_text_box_side{
    margin-top: 31px;
}

.treatment_price{
    float: right;
}

/*page wrap template for output*/
.wrap{
    position: relative;
    min-height: 100%;
    width: 100%;
}

.under_nav_line{
    margin-top: 183px;
    background-color: #fff;
    height: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 480px){

}


//Desktop/screens with min width of 1200px
@media (min-width: 1200px){
    .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
        margin-left:0px;
        margin-right:0px;
        width: auto;
    }

    .logo{
        margin-left: 50px;

    }
}


